<div class="gutter left" id="rules">

</div>


<div class="gutter center" id="boardContainer">
    <div class="key row">
        <div class="key pegSlots">
            <div class="peg"></div>
            <div class="peg"></div>
            <div class="peg"></div>
            <div class="peg"></div>
        </div>
    </div>
    <div class="pegSlots colorPegs">
        <div class="peg" (click)="getColor('black')"><img src="../assets/images/black.png" alt="Black Peg"></div>
        <div class="peg" (click)="getColor('blue')"><img src="../assets/images/blue.png" alt="Blue Peg"></div>
        <div class="peg" (click)="getColor('green')"><img src="../assets/images/green.png" alt="Green Peg"></div>
        <div class="peg" (click)="getColor('red')"><img src="../assets/images/red.png" alt="Red Peg"></div>
        <div class="peg" (click)="getColor('white')"><img src="../assets/images/white.png" alt="White Peg"></div>
        <div class="peg" (click)="getColor('yellow')"><img src="../assets/images/yellow.png" alt="Yellow Peg"></div>
    </div>
    <div *ngFor="let r of guessArr, let idx=index" class="row">
        <div class="pegSlots">
            <div class="peg" (click)="placeColorPos1()"><img src="../assets/images/{{guessArr[idx]['pos1']}}.png" alt="Row {{idx}}, pos 1"></div>
            <div class="peg" (click)="placeColorPos2()"><img src="../assets/images/{{guessArr[idx]['pos2']}}.png" alt="Row {{idx}}, pos 2"></div>
            <div class="peg" (click)="placeColorPos3()"><img src="../assets/images/{{guessArr[idx]['pos3']}}.png" alt="Row {{idx}}, pos 3"></div>
            <div class="peg" (click)="placeColorPos4()"><img src="../assets/images/{{guessArr[idx]['pos4']}}.png" alt="Row {{idx}}, pos 4"></div>
        </div>
        <div class="scoreSlots">
            <div class="scoreRow">
                <div class="score"><img src="../assets/images/{{scoreArr[idx]['pos1']}}.png" alt="Row {{idx}}, score 1"></div>
                <div class="score"><img src="../assets/images/{{scoreArr[idx]['pos2']}}.png" alt="Row {{idx}}, score 2"></div>
            </div>
        <div class="scoreRow">
                <div class="score"><img src="../assets/images/{{scoreArr[idx]['pos3']}}.png" alt="Row {{idx}}, score 3"></div>
                <div class="score"><img src="../assets/images/{{scoreArr[idx]['pos4']}}.png" alt="Row {{idx}}, score 4"></div>
            </div>
        </div>
    </div>
    <br>
    <button class="submit fancyButton" type="button" (click)='submitGuess()'>Submit</button>
</div>

<div class="gutter right"id="options">
    <div class="options">
        <label for="blanks">Blanks used?</label> <input type="checkbox" name="blanks"><br>
        <label for="duplicates">Duplicates allowed?</label> <input type="checkbox" name="duplicates" checked><br>
        <label for="round">Rounds:</label> <select name="round">
            <option value="8">8</option>
            <option value="12" selected>12</option>
            <option value="16">16</option>
        </select><br>
        <button class="fancyButton" type="button" (click)='resetGame()'>Reset</button>
    </div>
</div>
